* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-height: 10vh;
  width: 100%;
  text-align: center;
  background-color: #fff159;
  padding-top: 20px;
  font-size: 30px;
  border-bottom: 3px solid #3483fa;
  font-weight: bolder;
}

section {
  min-height: 65vh;
  padding-top: 20px;
  width: 70vw;
  margin: 0 auto;
}

footer {
  min-height: 19vh;
  width: 100%;
  border-top: 3px solid #e6e6e6;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  font-weight: bold;
}

.productsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}
