.return a {
  text-decoration: none;
  color: #3483fa;
}

#product-list {
  border-top: 3px solid #3483fa;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.product-details-image {
  width: 70%;
  justify-self: center;
}

.product-details-image img {
  width: 100%;
}

.product-details-description {
  padding-top: 20px;
}

.product-details-description h2 {
  margin-bottom: 10px;
}

.product-details-description p {
  font-size: 26px;
  font-weight: 300;
  font-family: "DejaVu Sans";
}
